<%- include('nav_header.ejs') %>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 principal-corner-container">
            <div class="custom-image-holder px-5">
              <img src="principal.jfif" class="custom-principal-img my-5" alt="">
            </div>
            <div class="custom-text-holder mx-5">
              <h1>Principal's Message</h1>
              <p class="my-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos autem corrupti dolore assumenda pariatur debitis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia ipsam provident eligendi praesentium excepturi sint quo dolor vero corrupti exercitationem debitis soluta, nisi explicabo quisquam fugit quasi. Mollitia dolore quod. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis, pariatur.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
                <p class="my-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates nesciunt provident quaerat, eos ipsum animi pariatur possimus. Modi, recusandae animi veniam iusto rerum natus alias aspernatur fuga mollitia corrupti sapiente quidem et omnis ut perferendis ipsum officiis odit quis molestiae inventore voluptas nostrum enim. Quia quas provident fugit officiis voluptates! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, autem, libero provident dignissimos aut deserunt, exercitationem quas eligendi minima eos magnam adipisci omnis. Quod, saepe.</p>
                <p style="text-align: right; color: #1e285f" class="pt-5"><b>Dr. R.K. Mishra</b></p>
                <p style="text-align: right;" class="">Principal, BIT Raipur</p>
            </div>
          </div>
          
    </div>
</div>


<%- include('footer.ejs') %>