<%- include('nav_header') %>

<div class="container-fluid">
  <div class="row pb-5">
    <h1 class="text-left">
      No step is lost. Every moment is a gain. Every effort is a struggle and
      will be counted as a merit.
    </h1>
    <h3 class="custom-text mt-4 theme-color">Late Seth Balkrishan</h3>
    <p class="custom-text">19XX - 20XX</p>
  </div>
  <div class="row my-5">
    <div class="col-lg-6 custom-align mb-5">
      <div class="custom-image-holder mx-auto">
        <img
          class="custom-visionary-img"
          src="seth_balkrishna.png"
          alt="late seth Balkrishan"
        />
      </div>
    </div>
    <div class="col-lg-6 mb-5">
      <h1>Seth Balkrishan</h1>
      <p class="my-5">
        Seth Balkrishna was great a philanthropist and a Paragon of human
        virtues his contribution in the field of education sports social and
        spiritual need of the community are legendary in Bhilai and indeed in
        the region his enlightened a humanity stands today as a beacon of hope
        in the difficult times
      </p>
    </div>
  </div>
  <div class="row my-5">
    <h1 class="text-center pb-5">Organisational Objectives</h1>
    <div
      id="carouselControls"
      class="carousel slide mx-auto"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3500">
          <div class="card mx-auto" style="width: 45rem">
            <div class="card-body">
              <p class="card-text custom-compact-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <h5 class="card-title text-center pt-5">Vision</h5>
            </div>
          </div>
        </div>

        <div class="carousel-item" data-bs-interval="3500">
          <div class="card mx-auto" style="width: 45rem">
            <div class="card-body">
              <p class="card-text custom-compact-text">
                Some quick example text to build on the card titleskbsbshb and
                make up the bulk of the card's content.
              </p>
              <h5 class="card-title text-center pt-5">Mission</h5>
            </div>
          </div>
        </div>

        <div class="carousel-item" data-bs-interval="3500">
          <div class="card mx-auto" style="width: 45rem">
            <div class="card-body">
              <p class="card-text custom-compact-text">
                Some quick example text to build on the card titleskbsbshb and
                make up the bulk of the card's content.
              </p>
              <h5 class="card-title text-center pt-5">Mission x2</h5>
            </div>
          </div>
        </div>

        <div class="carousel-item" data-bs-interval="3500">
          <div class="card mx-auto" style="width: 45rem">
            <div class="card-body">
              <p class="card-text custom-compact-text">
                Some quick example text to build on the card titleskbsbshb and
                make up the bulk of the card's content.
              </p>
              <h5 class="card-title text-center pt-5">Mission x3</h5>
            </div>
          </div>
        </div>

        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselControls"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselControls"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>

<%- include('footer') %>

