<%- include('nav_header.ejs') %>

<nav class="custom-dept-nav" id = "dept">
    <ul>
        <a href="#top"><li id="active"><div class="numbering">I.</div> <div class="side-nav-element">Welcome</div> </li></a> 
        <a href="#about"><li><div class="numbering">II.</div> <div class="side-nav-element">About</div> </li></a> 
        <a href="#faculty"><li><div class="numbering">III.</div> <div class="side-nav-element">Faculty</div> </li></a> 
        <a href="#staff"><li><div class="numbering">IV.</div> <div class="side-nav-element">Staff</div> </li></a> 
        <a href="#lab"><li><div class="numbering">V.</div> <div class="side-nav-element">Laboratory</div> </li></a> 
        <a href="#r&d"><li><div class="numbering">VI.</div> <div class="side-nav-element">R&D</div> </li></a> 
        <a href="#gallery"><li><div class="numbering">VII.</div> <div class="side-nav-element">Gallery</div> </li></a> 
    </ul>
</nav>

<section class="dept-section" id="top">
    <div class="row">
        <div class="col-lg-6">
            <h1>BITR Computer Science & Engineering Department</h1>
            <p class="custom-p-2">The Computer Science and Engineering has been an illustrious branch since its inception and is one of the most sort after branch in the region. 
                <br><br>
            The department focuses on catering to the needs of the new millennium and committed to transforming the nation into a computer technology hub.
            </p>
            <a href="#about" style="font-size: large;">learn more <i class="fa-solid fa-arrow-right fa-custom"></i> </a> 
        </div>
        <div class="col-lg-6">
            <img src="MacBook.png" alt="laptop image" class="laptop-img">
        </div>
    </div>
</section>
<div id="main">
<section class="dept-section-remaining-type1 " id="about">
    <div class="row">
        <div class="col-lg-12">
            <h1>About</h1>
            <span class="custom-underline mx-auto"></span>
            <p class="custom-p-2">
                The Department of Computer Science and Engineering was established in 1998. The department offers B.Tech(Computer Sc. and Engineering), M.Tech (Computer Networks), M.Tech(Data Science) and Ph.D. in various specializations of the discipline.The backbone of the department is quality research, experienced faculty members and latest infrastructure. B.Tech (CSE) programme of the department is accredited by the National Board of Accreditation (NBA), India first time in 2012 for three years and second time for the academic years 2017-18 to 2019-20 (3 years).
                <br><br>
Students of this department are prepared to excel as competent computer professionals, pursue advanced degrees, and possess technical knowledge, critical thinking skills, creativity and ethical values needed to promote peace, prosperity and growth in society. With a strong technical background, students of our department excel in university results, placements and higher studies every year.
            </p>
        </div>
    </div>
</section>

<section class="dept-section-remaining-type1" id="vision">
    <div class="row">
        <div class="col-lg-12">
            <h1>Vision</h1>
            <span class="custom-underline mx-auto"></span>
            <p class="custom-p-2">
                <strong>To provide cutting edge learning environment and nurture talent to produce world class computer professionals with ethical values who could excel in industry and research.</strong> 
            </p>
        </div>
    </div>
</section>

<section class="dept-section-remaining-type1" id="mission">
    <div class="row">
        <div class="col-lg-12">
            <h1>Mission</h1>
            <span class="custom-underline mx-auto"></span>
            <p class="custom-p-2">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur accusamus libero numquam inventore delectus dolore provident architecto quidem placeat excepturi?
            </p>
        </div>
    </div>
</section>

<section class="dept-section-remaining-type1">
      <div class="container">
        <ul class="control" id="custom-control">
            <li class="prev">
                <i class="fas fa-angle-left fa-2x"></i>
            </li>
            <li class="next">
                <i class="fas fa-angle-right fa-2x"></i>
            </li>
        </ul>
        <div class="my-slider">
            <div>
                <div class="slider-img-wrapper">
                    <div class="col-lg-4 eg">
                        <img class="slider-img" src="https://images.unsplash.com/photo-1583912268183-a34d41fe464a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
                    </div>
                    <div class="col-lg-8 slider-text">
                        <p>Promote peace, prosperity and growth in society by producing competent computer professionals with strong ethics and entrepreneurial skills.</p>
                        <h3 class="text-start">Computing for Peace</h3>
                    </div>
                </div>
            </div>
            <div>
                <div class="slider-img-wrapper">
                    <div class="col-lg-4">
                        <img class="slider-img" src="https://images.unsplash.com/photo-1583912268183-a34d41fe464a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
                    </div>
                    <div class="col-lg-8 slider-text">
                        <p>Inculcate professional behaviour, research of international quality and continuous learning skills in students through quality teaching-learning process.</p>
                        <h3 class="text-start">Quality Professional Education</h3>
                    </div>
                </div>
            </div>
            <div>
                <div class="slider-img-wrapper">
                    <div class="col-lg-4 eg">
                        <img class="slider-img" src="https://images.unsplash.com/photo-1583912268183-a34d41fe464a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
                    </div>
                    <div class="col-lg-8 slider-text">
                        <p>Promote peace, prosperity and growth in society by producing competent computer professionals with strong ethics and entrepreneurial skills.</p>
                        <h3 class="text-start">Computing for Peace</h3>
                    </div>
                </div>
            </div>
            <div>
                <div class="slider-img-wrapper">
                    <div class="col-lg-4">
                        <img class="slider-img" src="https://images.unsplash.com/photo-1583912268183-a34d41fe464a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
                    </div>
                    <div class="col-lg-8 slider-text">
                        <p>Inculcate professional behaviour, research of international quality and continuous learning skills in students through quality teaching-learning process.</p>
                        <h3 class="text-start">Quality Professional Education</h3>
                    </div>
                </div>
            </div>
            <div>
                <div class="slider-img-wrapper">
                    <div class="col-lg-4 eg">
                        <img class="slider-img" src="https://images.unsplash.com/photo-1583912268183-a34d41fe464a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
                    </div>
                    <div class="col-lg-8 slider-text">
                        <p>Promote peace, prosperity and growth in society by producing competent computer professionals with strong ethics and entrepreneurial skills.</p>
                        <h3 class="text-start">Computing for Peace</h3>
                    </div>
                </div>
            </div>
            <div>
                <div class="slider-img-wrapper">
                    <div class="col-lg-4">
                        <img class="slider-img" src="https://images.unsplash.com/photo-1583912268183-a34d41fe464a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
                    </div>
                    <div class="col-lg-8 slider-text">
                        <p>Inculcate professional behaviour, research of international quality and continuous learning skills in students through quality teaching-learning process.</p>
                        <h3 class="text-start">Quality Professional Education</h3>
                    </div>
                </div>
            </div>
            <div>
                <div class="slider-img-wrapper">
                    <div class="col-lg-4 eg">
                        <img class="slider-img" src="https://images.unsplash.com/photo-1583912268183-a34d41fe464a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
                    </div>
                    <div class="col-lg-8 slider-text">
                        <p>Promote peace, prosperity and growth in society by producing competent computer professionals with strong ethics and entrepreneurial skills.</p>
                        <h3 class="text-start">Computing for Peace</h3>
                    </div>
                </div>
            </div>
            <div>
                <div class="slider-img-wrapper">
                    <div class="col-lg-4">
                        <img class="slider-img" src="https://images.unsplash.com/photo-1583912268183-a34d41fe464a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
                    </div>
                    <div class="col-lg-8 slider-text">
                        <p>Inculcate professional behaviour, research of international quality and continuous learning skills in students through quality teaching-learning process.</p>
                        <h3 class="text-start">Quality Professional Education</h3>
                    </div>
                </div>
            </div>

        </div>
       </div>
</section>


<section class="dept-section-remaining-type2" id="objectives">
    <div class="row">
        <div class="col-lg-5">
            <img src="cse-obj.png" alt="">
        </div>
        <div class="col-lg-7 cp-5">
            <div class="row">
                <div class="col-lg-10 cp-0">
                    <h4 class="custom-h4-1 theme-color">Program Educational Objectives of B.Tech (Computer Science and Engineering) </h4>
                    <p class="custom-p-1">Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit phasellus mollis sit aliquam sit nullam neque ultrices. Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit phasellus mo</p>
                </div>
            </div>  
            <div class="row">
                <div class="col-lg-5 cp-0">
                    <h1 class="custom-h1-1">PEO1</h1>
                    <p class="custom-p-1">
                        <strong>Engineering Ethos</strong> <br>
                        To provide student graduate with sufficient capabilities to prepare them for industry and higher education.
                    </p>
                </div>
                <div class="col-lg-5 cp-0 ps-5">
                    <h1 class="custom-h1-1">PEO2</h1>
                    <p class="custom-p-1">
                        <strong>Domain prospects</strong> <br>
                        Graduates are prepared to apply technical computing skills with strong logic for successfully executing software to meet global customer requirements.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 cp-0">
                    <h1 class="custom-h1-1">PEO3</h1>
                    <p class="custom-p-1">
                        <strong>
                            Engineering Ethos
                        </strong><br>
                        To provide student graduate with sufficient capabilities to prepare them for industry and higher education.
                    </p>
                </div>
                <div class="col-lg-5 cp-0 ps-5">
                    <h1 class="custom-h1-1">PEO4</h1>
                    <p class="custom-p-1">
                       <strong> Domain prospects</strong><br>
                       Graduates are prepared to apply technical computing skills with strong logic for successfully executing software to meet global customer requirements.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="dept-section-remaining-type2" id="outcomes">
    <div class="row">
        <div class="col-lg-5">
            <img src="cse-obj2.png" alt="">
        </div>
        <div class="col-lg-7 cp-5">
            <div class="row">
                <div class="col-lg-10 cp-0">
                    <h4 class="custom-h4-1 theme-color">Program Specific Outcomes of B.Tech (Computer Science and Engineering)</h4>
                    <p class="custom-p-1">Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit phasellus mollis sit aliquam sit nullam neque ultrices. Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit phasellus mo</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 cp-0">
                    <h1 class="custom-h1-1">PEO1</h1>
                    <p class="custom-p-1">
                        <strong>Engineering Ethos</strong> <br>
                        To provide student graduate with sufficient capabilities to prepare them for industry and higher education.
                    </p>
                </div>
                <div class="col-lg-5 cp-0 ps-5">
                    <h1 class="custom-h1-1">PEO2</h1>
                    <p class="custom-p-1">
                        <strong>Domain prospects</strong> <br>
                        Graduates are prepared to apply technical computing skills with strong logic for successfully executing software to meet global customer requirements.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 cp-0">
                    <h1 class="custom-h1-1">PEO3</h1>
                    <p class="custom-p-1">
                        <strong>
                            Engineering Ethos
                        </strong><br>
                        To provide student graduate with sufficient capabilities to prepare them for industry and higher education.
                    </p>
                </div>
                <div class="col-lg-5 cp-0 ps-5">
                    <h1 class="custom-h1-1">PEO4</h1>
                    <p class="custom-p-1">
                       <strong> Domain prospects</strong> <br>

                       Graduates are prepared to apply technical computing skills with strong logic for successfully executing software to meet global customer requirements.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="dept-section-remaining-type1" id="faculty">
    <div class="row">
        <div class="col-lg-12">
            <h1>Faculty</h1>
            <span class="custom-underline mx-auto"></span>
            <div class="faculty-grid ">
                    <div class="flip-card f-grid-element">
                        <div class="flip-card-inner">
                          <div class="flip-card-front">
                            <img src="seth_balkrishna.png" alt="" class="faculty-img">
                            <div class="faculty-front-data">
                                <h4> Dr. Padmavati Shrivastav</h4>
                                <p class="custom-p-3">Dean</p>
                            </div>
                          </div>
                          <div class="flip-card-back">
                            <div class="faculty-back-data">
                                <p class="custom-p-3">DEAN</p>
                                <h2 class="theme-color"> Dr. Padmavati Shrivastav</h2>
                                <p class="my-4 theme-color">Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, amet.</p>
                                <span class="link-box-container">
                                    <a href=""><span class="link-box"><i class="fa-solid fa-envelope fa-xl"></i></span></a> 
                                    <a href=""><span class="link-box"><i class="fa-solid fa-phone fa-xl"></i></span></a> 
                                    <a href=""><span class="link-box"><i class="fa-solid fa-link fa-xl"></i></span></a> 
                                </span>
                            </div>
                          </div>
                        </div>
                      </div>

                    <div class="flip-card f-grid-element">
                        <div class="flip-card-inner">
                          <div class="flip-card-front">
                            <img src="seth_balkrishna.png" alt="" class="faculty-img">
                            <div class="faculty-front-data">
                                <h4>Prof. Seira Shinde</h4>
                                <p class="custom-p-3">HOD</p>
                            </div>
                          </div>
                          <div class="flip-card-back">
                            <div class="faculty-back-data">
                                <p class="custom-p-3">HOD</p>
                                <h2 class="theme-color">Prof. Seira Shinde</h2>
                                <p class="my-4 theme-color">Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, amet.</p>
                                <span class="link-box-container">
                                    <a href=""><span class="link-box"><i class="fa-solid fa-envelope fa-xl"></i></span></a> 
                                    <a href=""><span class="link-box"><i class="fa-solid fa-phone fa-xl"></i></span></a> 
                                    <a href=""><span class="link-box"><i class="fa-solid fa-link fa-xl"></i></span></a> 
                                </span>
                            </div>
                          </div>
                        </div>
                      </div>

                    <div class="flip-card f-grid-element">
                        <div class="flip-card-inner">
                          <div class="flip-card-front">
                            <img src="seth_balkrishna.png" alt="" class="faculty-img">
                            <div class="faculty-front-data">
                                <h4> Dr. Padmavati Shrivastav</h4>
                                <p class="custom-p-3">Dean</p>
                            </div>
                          </div>
                          <div class="flip-card-back">
                            <div class="faculty-back-data">
                                <p class="custom-p-3">DEAN</p>
                                <h2 class="theme-color"> Dr. Padmavati Shrivastav</h2>
                                <p class="my-4 theme-color">Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, amet.</p>
                                <span class="link-box-container">
                                    <a href=""><span class="link-box"><i class="fa-solid fa-envelope fa-xl"></i></span></a> 
                                    <a href=""><span class="link-box"><i class="fa-solid fa-phone fa-xl"></i></span></a> 
                                    <a href=""><span class="link-box"><i class="fa-solid fa-link fa-xl"></i></span></a> 
                                </span>
                            </div>
                          </div>
                        </div>
                      </div>

                    <div class="flip-card f-grid-element">
                        <div class="flip-card-inner">
                          <div class="flip-card-front">
                            <img src="seth_balkrishna.png" alt="" class="faculty-img">
                            <div class="faculty-front-data">
                                <h4> Dr. Padmavati Shrivastav</h4>
                                <p class="custom-p-3">Dean</p>
                            </div>
                          </div>
                          <div class="flip-card-back">
                            <div class="faculty-back-data">
                                <p class="custom-p-3">DEAN</p>
                                <h2 class="theme-color"> Dr. Padmavati Shrivastav</h2>
                                <p class="my-4 theme-color">Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, amet.</p>
                                <span class="link-box-container">
                                    <span class="link-box"><i class="fa-solid fa-envelope fa-xl"></i></span>
                                    <span class="link-box"><i class="fa-solid fa-phone fa-xl"></i></span>
                                    <span class="link-box"><i class="fa-solid fa-link fa-xl"></i></span>
                                </span>
                            </div>
                          </div>
                        </div>
                      </div>

                    <div class="flip-card f-grid-element">
                        <div class="flip-card-inner">
                          <div class="flip-card-front">
                            <img src="seth_balkrishna.png" alt="" class="faculty-img">
                            <div class="faculty-front-data">
                                <h4> Dr. Padmavati Shrivastav</h4>
                                <p class="custom-p-3">Dean</p>
                            </div>
                          </div>
                          <div class="flip-card-back">
                            <div class="faculty-back-data">
                                <p class="custom-p-3">DEAN</p>
                                <h2 class="theme-color"> Dr. Padmavati Shrivastav</h2>
                                <p class="my-4 theme-color">Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, amet.</p>
                                <span class="link-box-container">
                                    <span class="link-box"><i class="fa-solid fa-envelope fa-xl"></i></span>
                                    <span class="link-box"><i class="fa-solid fa-phone fa-xl"></i></span>
                                    <span class="link-box"><i class="fa-solid fa-link fa-xl"></i></span>
                                </span>
                            </div>
                          </div>
                        </div>
                      </div>

                    <div class="flip-card f-grid-element">
                        <div class="flip-card-inner">
                          <div class="flip-card-front">
                            <img src="seth_balkrishna.png" alt="" class="faculty-img">
                            <div class="faculty-front-data">
                                <h4> Dr. Padmavati Shrivastav</h4>
                                <p class="custom-p-3">Dean</p>
                            </div>
                          </div>
                          <div class="flip-card-back">
                            <div class="faculty-back-data">
                                <p class="custom-p-3">DEAN</p>
                                <h2 class="theme-color"> Dr. Padmavati Shrivastav</h2>
                                <p class="my-4 theme-color">Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, amet.</p>
                                <span class="link-box-container">
                                    <span class="link-box"><i class="fa-solid fa-envelope fa-xl"></i></span>
                                    <span class="link-box"><i class="fa-solid fa-phone fa-xl"></i></span>
                                    <span class="link-box"><i class="fa-solid fa-link fa-xl"></i></span>
                                </span>
                            </div>
                          </div>
                        </div>
                      </div>
            </div>
        </div>
    </div>
</section>


<section class="dept-section-remaining-type1" id="staff">
    <div class="row">
        <div class="col-lg-12">
            <h1>Staff</h1>
            <span class="custom-underline mx-auto"></span>
            <div class="faculty-grid ">
                    <div class="flip-card f-grid-element">
                        <div class="flip-card-inner">
                          <div class="flip-card-front">
                            <img src="seth_balkrishna.png" alt="" class="faculty-img">
                            <div class="faculty-front-data">
                                <h4> Dr. Padmavati Shrivastav</h4>
                                <p class="custom-p-3">Dean</p>
                            </div>
                          </div>
                          <div class="flip-card-back">
                            <div class="faculty-back-data">
                                <p class="custom-p-3">DEAN</p>
                                <h2 class="theme-color"> Dr. Padmavati Shrivastav</h2>
                                <p class="my-4 theme-color">Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, amet.</p>
                                <span class="link-box-container">
                                    <a href=""><span class="link-box"><i class="fa-solid fa-envelope fa-xl"></i></span></a> 
                                    <a href=""><span class="link-box"><i class="fa-solid fa-phone fa-xl"></i></span></a> 
                                    <a href=""><span class="link-box"><i class="fa-solid fa-link fa-xl"></i></span></a> 
                                </span>
                            </div>
                          </div>
                        </div>
                      </div>

                    <div class="flip-card f-grid-element">
                        <div class="flip-card-inner">
                          <div class="flip-card-front">
                            <img src="seth_balkrishna.png" alt="" class="faculty-img">
                            <div class="faculty-front-data">
                                <h4>Prof. Seira Shinde</h4>
                                <p class="custom-p-3">HOD</p>
                            </div>
                          </div>
                          <div class="flip-card-back">
                            <div class="faculty-back-data">
                                <p class="custom-p-3">HOD</p>
                                <h2 class="theme-color">Prof. Seira Shinde</h2>
                                <p class="my-4 theme-color">Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, amet.</p>
                                <span class="link-box-container">
                                    <a href=""><span class="link-box"><i class="fa-solid fa-envelope fa-xl"></i></span></a> 
                                    <a href=""><span class="link-box"><i class="fa-solid fa-phone fa-xl"></i></span></a> 
                                    <a href=""><span class="link-box"><i class="fa-solid fa-link fa-xl"></i></span></a> 
                                </span>
                            </div>
                          </div>
                        </div>
                      </div>

                    <div class="flip-card f-grid-element">
                        <div class="flip-card-inner">
                          <div class="flip-card-front">
                            <img src="seth_balkrishna.png" alt="" class="faculty-img">
                            <div class="faculty-front-data">
                                <h4> Dr. Padmavati Shrivastav</h4>
                                <p class="custom-p-3">Dean</p>
                            </div>
                          </div>
                          <div class="flip-card-back">
                            <div class="faculty-back-data">
                                <p class="custom-p-3">DEAN</p>
                                <h2 class="theme-color"> Dr. Padmavati Shrivastav</h2>
                                <p class="my-4 theme-color">Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, amet.</p>
                                <span class="link-box-container">
                                    <span class="link-box"><i class="fa-solid fa-envelope fa-xl"></i></span>
                                    <span class="link-box"><i class="fa-solid fa-phone fa-xl"></i></span>
                                    <span class="link-box"><i class="fa-solid fa-link fa-xl"></i></span>
                                </span>
                            </div>
                          </div>
                        </div>
                      </div>
            </div>
        </div>
    </div>
</section>

<section class="dept-section-remaining-type1" id="lab">
    <div class="row">
        <div class="col-lg-12">
            <h1>Laboratory</h1>
            <span class="custom-underline mx-auto"></span>
            <p class="custom-p-2">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur accusamus libero numquam inventore delectus dolore provident architecto quidem placeat excepturi?
            </p>
        </div>
    </div>
</section>

<section class="dept-section-remaining-type1" id="r&d">
    <div class="row">
        <div class="col-lg-12">
            <h1>R&D</h1>
            <span class="custom-underline mx-auto"></span>
            <p class="custom-p-2">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur accusamus libero numquam inventore delectus dolore provident architecto quidem placeat excepturi?
            </p>
        </div>
    </div>
</section>

<section class="dept-section-remaining-type1" id="gallery">
    <div class="row">
        <div class="col-lg-12">
            <h1>Galery</h1>
            <span class="custom-underline mx-auto"></span>

            <h2 class="theme-color custom-align cm-3dot5">Follow us on <span style="color:#b1040e">Social Media</span></h2>
            <p class="custom-p-4">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita nesciunt provident sint! Nesciunt, eveniet officiis aliquid vel corrupti aspernatur voluptas!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="gallery-grid">
                <div class="gallery-item g-item1"></div>
                <div class="gallery-item g-item2"></div>
                <div class="gallery-item g-item3"></div>
                <div class="gallery-item g-item4"></div>
                <div class="gallery-item g-item5"></div>
                <!-- <div class="gallery-item g-item6"></div>
                <div class="gallery-item g-item7"></div> -->
                <!-- <div class="gallery-item g-item8"></div> -->
            </div>
        </div>
        <div class="custom-read-more-btn-dark mx-auto my-4 custom-align">Follow Us</div>
    
    </div>
</section>
<br>
<br>
<br>
<%- include('footer.ejs') %>
</div>
</body>
</html>