<section id="footer">
    <div class="row custom-footer">
        <h1 class="custom-white-text my-5">BIT Raipur</h1>
        <div class="col-lg-4">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Laborum, officiis.
            </p>
            <div class="custom-logo-container d-flex flex-row my-5">
                <a href=""
                    ><div class="cutsom-footer-logos me-3">
                        <i
                            class="fa-brands fa-facebook-f fa-xl"
                            style="color: #a2a3a4"
                        ></i></div
                ></a>
                <a href=""
                    ><div class="cutsom-footer-logos me-3">
                        <i
                            class="fa-brands fa-twitter fa-xl"
                            style="color: #a2a3a4"
                        ></i></div
                ></a>
                <a href=""
                    ><div class="cutsom-footer-logos me-3">
                        <i
                            class="fa-brands fa-square-instagram fa-xl"
                            style="color: #a2a3a4"
                        ></i></div
                ></a>
                <a href=""
                    ><div class="cutsom-footer-logos me-3">
                        <i
                            class="fa-brands fa-linkedin-in fa-xl"
                            style="color: #a2a3a4"
                        ></i></div
                ></a>
                <a href=""
                    ><div class="cutsom-footer-logos me-3">
                        <i
                            class="fa-brands fa-youtube fa-xl"
                            style="color: #a2a3a4"
                        ></i></div
                ></a>
            </div>
        </div>
        <div class="custom-footer-cols">
            <a href="#" target="_blank">Sports</a>
            <a href="#" target="_blank">BIT Uday</a>
            <a href="#" target="_blank">Hostel</a>
            <a href="#" target="_blank">E-Books</a>
            <a href="#" target="_blank">Site Map</a>
        </div>
        <div class="custom-footer-cols">
            <a href="#" target="_blank">Admission Form</a>
            <a href="#" target="_blank">Press Release</a>
            <a href="#" target="_blank">Prospectus</a>
            <a href="#" target="_blank">Flyer</a>
            <a href="#" target="_blank">Blog</a>
        </div>
        <div class="custom-footer-cols">
            <a href="#" target="_blank">CSVTU Calendar</a>
            <a href="#" target="_blank">Alumini</a>
            <a href="#" target="_blank">AICTE</a>
            <a href="#" target="_blank">University Grants Permission</a>
            <a href="#" target="_blank">DTE Raipur </a>
        </div>

        <span class="custom-footer-line"></span>
        <p class="custom-align">Copyright © 2023 | All Rights Reserved</p>
    </div>
</section>

